<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>createGroup</servlet-name>
        <servlet-class>spaceServlets.createGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteGroup</servlet-name>
        <servlet-class>spaceServlets.deleteGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leaveGroup</servlet-name>
        <servlet-class>spaceServlets.leaveGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>joinGroup</servlet-name>
        <servlet-class>spaceServlets.joinGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createGroup</servlet-name>
        <url-pattern>/createGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteGroup</servlet-name>
        <url-pattern>/deleteGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leaveGroup</servlet-name>
        <url-pattern>/leaveGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>joinGroup</servlet-name>
        <url-pattern>/joinGroup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>  30  </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
